= render 'layouts/articles'

= form_for Message.new do |form|
  %div
    = label_tag("Имя:")
    = form.text_field :name
  %div
    = label_tag("Почта:")
    = form.text_field :email
  %div
    = label_tag("Сообщение:")
    = form.text_area :body

  = form.submit "Отправить"